<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ host }}" />
  <meta property="og:title" content="{{ site_title }}" />
  <meta property="og:description" content="Schedule Brewer is a tool to help visualize various class schedules in preparation for pre-registration." />
  <!-- <meta name="theme-color" content="#951829"> -->
  <meta name="theme-color" content="#641a2b" media="(prefers-color-scheme: dark)">

  <title>{{site_title}}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗓</text></svg>">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GP7CHXF2W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0GP7CHXF2W');
  </script>
  {{ dept_codes|json_script:"dept_codes" }}
  {{ site_title|json_script:"site_title" }}
</head>
<body>
  <div id="root"></div>
  {% render_bundle 'CourseBrowser' %}
</body>
</html>