<html>
    <head>

    </head>
    <body>
        Schedule Brewer has moved to <a href="https://schedulebrewer.vassar.edu">schedulebrewer.vassar.edu</a>! Redirecting in <span id="countdown">3</span>...
        <script>
            setTimeout(() => {
                window.location.replace("https://schedulebrewer.vassar.edu/");
            }, 3000);
            var counter = 3
            setInterval(()=>{
                document.getElementById("countdown").innerText = --counter
            }, 1000)
        </script>
    </body>
</html>